.mytreehor .ui-icon-plus:before {
	color: white !Important;
}

.mytreehor .ui-icon-minus:before {
	color: white !Important;
}

.engineering .ui-treenode-content {
	background-color: #1976d2 !Important;
	color: white !Important;
}

.procurement .ui-treenode-content {
	background-color: #009688 !Important;
	color: white !Important;
}

.construction .ui-treenode-content {
	background-color: #e91e63 !Important;
	color: white !Important;
}

.testing .ui-treenode-content {
	background-color: #673ab7 !Important;
	color: white !Important;
}

.main .ui-treenode-content {
	background-color: #f7a02d !Important;
	color: white !Important;
}


.dashboard .mycard .user-card .user-card-header {
    background-color: #ff9c07 !Important;
    color: white !Important;
}


 .mycard h2 {
    margin-left: 20px !Important;
}


.mytimeline .engineering {
    color: #1976d2 !Important;
}

.mytimeline .procurement  {
    color: #009688 !Important;
}

.mytimeline .construction  {
    color: #e91e63 !Importan;
}

.mytimeline .testing  {
    color: #673ab7 !Important;
}

.mycommandlink {
	display: none !Important;
}

.ui-state-highlight .mycommandlink {
	display: block !Important;
}

body .mytreetable .ui-treetable thead th:last-child {
	border-right: none !Important;
}

body .mytreetable .ui-treetable thead th:first-child {
	border-left: none !Important;
}